/* set smooth scrolling */

html {
  scroll-behavior: smooth;
}



/*========== BODY ==========*/



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color:#ffffff;
}



/*========== HEADER ==========*/



header {
  position: fixed;
  top: 0;
  padding-top: 25px;
  padding-bottom: 80px;
  width: 100%;
  background-image: linear-gradient(#000000, #00000000);
  text-align: center;
  display: inline-block;
}

.nav__logo {
  font-family: 'Abhaya Libre', serif;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.nav__list {
  list-style-type: none;
  max-width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 200px;
}

.nav__item {
  display: inline;
  padding-right: 50px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.3s;
}

.nav__link:hover {
  color: #FF9F0D;
}

/* this is the order button*/
.nav button {
  float: right;
  justify-content: middle;
  margin-right: 200px;
  padding: 5px 20px;
  background-color: #FF9F0D;
  border-radius: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  transition-duration: 0.3s;
  border: none;
}

.nav button:hover {
  cursor: pointer;
  color: #FF9F0D;
}



/*========== BUTTONS ==========*/



.button {
  text-decoration: none;
  margin-top: 50px;
  padding: 15px;
  background-color: #FF9F0D;
  color: #ffffff;
  border-radius: 30px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #c17a0f;
}



/*========== HOME  ==========*/



.home {
  margin: 200px;
  margin-top: 150px;
}

.home__data {
  display: inline-block;
  vertical-align: middle;
}

.home__title {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FF9F0D;
}

.home__subtitle {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  margin-bottom: 50px;
}

.home__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.home__img {
  width: 500px;
  border-radius: 50%;
  height: auto;
  vertical-align: middle;
  float: right;
}




/*========== ABOUT ==========*/



.about {
  margin: 200px;
}

.about__data {
  margin-top: 200px;
  display: inline-block;
  vertical-align: middle;
}

.about__title {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FF9F0D;
}

.about__subtitle {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  margin-bottom: 50px;
}

.about__description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.about__images {
  margin-top: 200px;
  width: 500px;
  height: 400px;
  vertical-align: middle;
  float: right;
}

.row1__img {
  max-width: 100%;
  padding-right: 5px;
}

.row2__img {
  float: left;
  width: 49%;
  padding-right: 5px;
}



/*========== MENU ==========*/



.menu {
  margin-top: 200px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: 200px;
  margin-right: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: black solid 1px;
  outline: none;
  cursor: pointer;
  padding: 30px 100px;
  height: 150px;
  width: 25%;
  transition: 0.3s;
  text-align: center;
  background-color: #FF9F0D;
  color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #db8b14;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #db8b14;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto;
  padding: 0;
  margin-left: 200px;
  margin-right: 200px;
}

.grid-item {
  background-color: #db8b14;
  border: 1px solid rgba(0, 0, 0, 0.8); 
  padding: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-grid;
  grid-template-columns:auto auto;
  left: 0;
  gap: 5px;
}

.menu_name {
  font-family: 'Abhaya Libre', serif;
  font-size: 25px;
}

.menu_desc{
  font-size: 14px;
  font-weight: bold;
}

.menu_img {
  width: 180px; /* you can use % */
  height: auto;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
  border-top: none;
}



/*========== ORDER MODAL ==========*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 200px;
  width: 30%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(100,100,100); /* Fallback color */
  background-color: rgba(100,100,100,0.0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #111111;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: orange;
  cursor: pointer;
}



/*========== CONTACT US ==========*/



.contact {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
}

.section-subtitle {
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
  color: #FF9F0D;
}

.section-title {
  font-family: 'Abhay Libre', serif;
  font-size: 48px;
}

.contact__description {
  padding-bottom: 40px;
}

.contact__button {
  margin-top: 35px;
}



/*========== FOOTER ===========*/



footer {
  margin-top: 100px;
  text-align: center;
  background-image: linear-gradient(#00000000, #000000)
}

.footer__container {
  margin-left: 200px;
  margin-right: 200px;
  columns: 3 auto;
  text-align: left;
}

.footer__logo {
  font-family: 'Abhaya Libre', serif;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.footer__title {
  margin-bottom: 50px;
  color: #ffffff;
}

.footer__subtitle {
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

