/*===== BODY =====*/
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: #000000;
  color:#ffffff;
}

/*===== HEADER =====*/
header {
  position: fixed;
  top: 0;
  margin: 0;
  padding-top: 25px;
  width: 100%;
  background: #000000;
  text-align: center;
}

.nav__logo {
  font-family: 'Abhaya Libre', serif;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.nav__list {
  list-style-type: none;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 200px;
}

.nav__item {
  display: inline;
  padding-right: 50px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.5s;
}

.nav__link:hover {
  color: #FF9F0D;
}

/*===== MAIN PAGE =====*/
.home {
  margin: 200px;
}

.home__title {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FF9F0D;
}

.home__subtitle {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
}

.home__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}